/* css reset */
*{
    margin: 0;
    padding: 0;
}
/* css variables */
:root{
    --navbar-height:59px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: static;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
/*navigation bar: logo and image */
#logo{
    margin: 5px 35px;

}
#logo img{
    border-radius: 50%;
    margin: 3px 2px

}
/* navigation bar:list styling */
#navbar ul{
    display: flex;
}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
      color: white;
    display: block;
    padding: 10px 5px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background: white;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 610px;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../img/bg1.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* services sectiomn */
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 3px solid red;
    padding: 12px 5px;
    margin: 4px 3px;
    border-radius: 23px;
    background-color:white;
    transition:1s ease-in-out;
}

.box:hover{
border: none !important;
box-shadow: 4px 8px 15px 10px rgb(233, 226, 226);
transform: scale(1.06);
z-index: 3;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;

}
#client-section{
    height: 344px;

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-item img{
    height: 100px;
}
#client-item{
    padding: 34px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/bg.jpeg') no-repeat center center/cover;
    width: 100%;
    height: 54%;
    z-index: -1;
    opacity: 0.3;

}
/* contact-section */
#contact{
    position: relative;
}
#contact::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/th.jpeg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* utility clASS */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}




